/*------------------------------------*\
    $CONTENIDO
\*------------------------------------*/
/**
 * $CONTENIDO...........Lo estás leyendo!!
 * Body...............Estilos del body
 ****** Nav..................Estilos usados en el nav
 ****** Main.................Estilos usados en el main
 ****** Footer...............Estilos usados en el footer
 ****** Sidebars.............Estlos de las Sidebars
 ****** Specific page items..Elementos que se repiten en varias rutas
 * Flexcontainer......Guia de estilos que usan Flex
 * Flexcolumn.........Guia de estilos columnas de Flex
 */


/***********************************
************************************
 Body styling
************************************
***********************************/
* {
    box-sizing: border-box; 
}
body {
    margin: 0; 
    font-weight: 500;
    font-family: "Arial Black", Gadget, sans-serif;
}

/*========Flexcontainer styling guide=========*/
/*Used to stablish flexbox in all html5 sections*/
.flexContainer {
    display: flex;
    flex: 1;
    
}

/*Aligning text on flexcontainers*/

.flexContainer--align-Left {
    text-align: left;
}
.flexContainer--align-Center {
    text-align: center;
}
.flexContainer--align-Right {
    text-align: right;
}

/*Flexcontainer size options*/

.flexContainer--size-fullHeight {
    height: 100%;
}

/*Flexcontainer color options*/

.flexContainer--color-whiteBackground {
    background: #f4fff8;
}
.flexContainer--color-greyBackground {
    background: #1A1E28;
}

/*========Flexcolumn styling guide=========*/
/*Flexcolumn definition*/

.flexColumn {
    flex-direction: column;
}

/***********************************
************************************
 Nav styling
************************************
***********************************/

.nav {
    list-style: none;
}

/*Logo style*/

.nav img {
    margin-top: -8%;
    margin-bottom: -6%;
}

/*Menu style*/

.nav li{
    margin-top: 5%;
}
.nav li a {
    display: block;
    width: 20%;
    text-decoration: none;
    margin: 0 1em 0 1em;
    color: #f4fff8;
}

/***********************************
************************************
 Main section styling
************************************
***********************************/

/*Flexcontainer order 2
*Printed at the center*/

.main{
    order: 2;
    padding: 20px;
    width: 90%;
    flex: 1 0 auto;
    max-height: 100%;
}

/*------Sub-Section-------*/
/*Flexcontainer for subsections*/

.main--parent{
    display: flex;
    flex-wrap: wrap;
    padding: 2% 10% 2% 10%;
}

/*3 items per line container*/

.main--position-quarter{
    padding-top:2%; 
    margin: 6px;
    width: calc(33% - 12px);
}

/*2 items per line container*/

.main--position-mid{
    padding-top:2%; 
    margin: 6px;
    width: calc(50% - 12px);
}

/*1 item per line container*/

.main--position-full{
    margin: 0;
    width: calc(100% - 12px);
}

/*------Specific page items-------*/

/*rates envelope*/

.card {
    background: #8baaad;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    width: 280px;
    text-align: center;
}

/*rates envelope shadow*/

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
  
/*rates envelope deeper shadow on hover*/

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*Contact map style*/

#map {
    min-width: 100%;
    max-width: 100%;
    width: 1000px; 
    height: 400px;
}

/*External source video autoplay*/

.content-container {
	min-height: 100%;
    width: 100%;
    min-width: 100%;
	position: relative;
	overflow: hidden;
	background-image: url(https://imelgrat.me/demo/images/moth.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*Fake background for the autoplay video*/

.fake-background {
	position: absolute;
	top: 50%;
	left: 50%;
	height: auto;
	width: auto;
	z-index: 1;
	transform: translateX(-50%) translateY(-50%);
	min-width: 100%;
	min-height: 100%;
	background-color: transparent;
}

/*Fake overlay for the autoplay video*/

.fake-overlay {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	height: auto;
	width: auto;
	z-index: 2;
	background-color: transparent;
}

/*Fake overlay content*/

.content {
	z-index: 100;
	margin-top: 30px;
	margin-left: 30px;
	width: 40%;
	color: #f4fff8;
	background-color: rgba(0, 0, 0, 0.6);
	position: relative;
}
@media (max-width: 1023px) {
	.fake-background {
		display: none !important;
		visibility: hidden !important;
	}
	.fake-overlay {
		display: none !important;
		visibility: hidden !important;
	}
}

/*Pagination item style*/

.pagination {
    display: inline-block;
}

/*Unselected item style*/

.pagination a {
    color: #000f08;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

/*Selected item style*/

.pagination a.active {
    background-color: #000f08;
    color: #f4fff8;
}

/*Unselected item on hover*/

.pagination a:hover:not(.active) {background-color: #8baaad;}

/*Form validation*/
.contact_form label{
    padding-bottom: 2%;
}
.contact_form input, .contact_form textarea, .contact_form select {
    color: #000f08;
    background: #8baaad;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    width: 100%;
    border: 1px solid #eee;
    border-left: 6px solid;
    border-radius: 5px;
    transition: border-color .5s ease-out;
}

.contact_form input.button--type-send{
    background: #58504a;
    color: #eee;
    float: right;
    padding: 2%;
    min-width: 30%;
    max-width: 30%;
    border: 1px solid #eee;
}

.contact_form input:required, .contact_form textarea:required  {
    border-left-color: palegreen;
}
.contact_form input:invalid {
    border-left-color: rgb(204, 69, 69);
}

.contact_form textarea:invalid {
    border-left-color: rgb(204, 69, 69);
}

/*Products page styles*/

.filters select{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    color: #000f08;
    background: #8baaad;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    width: 15%;
    border: 1px solid #eee;
    border-left: 6px solid;
    border-radius: 5px;
    transition: border-color .5s ease-out;
}

.filters .button--type-filter{
    background: #58504a;
    color: #eee;
    padding: 1%;
    min-width: 10%;
    max-width: 10%;
    border: 1px solid #eee;
}

.button--type-details{
    background: #58504a;
    color: #eee;
    padding: 3%;
    min-width: 50%;
    max-width: 50%;
    border: 1px solid #eee;
    border-radius: 5px;
    transition: border-color .5s ease-out;
    margin: 15%;
}

/***********************************
************************************
 Sidebars styling
************************************
***********************************/

.sidebar {
    width: 5%;
    background: #f4fff8;
    padding: 20px;
}

/*Sidebar left*/

.sidebar--position-Left{
    order: 1;
}

/*Sidebar right*/

.sidebar--position-Right{
    order: 3;
}

/***********************************
************************************
 footer styling
************************************
***********************************/

footer{
    color: #f4fff8;
    padding: 1%;
    min-height: 100%;
    margin-bottom: -50px;
}

.footer{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

/*Footer menu*/

.footer a {
    text-decoration: none;
    margin: 0 1em 0 1em;
    color: #f4fff8;
}

/*2 items per footer line*/

.footer--position-mid{
    padding-left: 15%;
    padding-right: 15%;
    width: calc(50% - 12px);
}

/*1 item per footer line*/

.footer--position-full{
    width: calc(100% - 12px);
}
